// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//=======================added by alliciga=================
.message_list { list-style: none; margin: 0; padding: 0; width: 383px; }

.message_list li { padding: 0; margin: 0; background: url(images/message-bar.gif) no-repeat; }

.message_head { padding: 5px 10px; cursor: pointer; position: relative; }

.message_head_sidebar { padding: 5px 10px; cursor: pointer; position: relative; }

.message_head .timestamp { color: #666666; font-size: 95%; postion: absolute; right: 10px; top: 5px; }

.message_head cite { font-size: 100%; font-weight: bold; font-style: normal; }

.message_body { padding: 5px 10px 15px; }

.alarm { font-size: 120%; font-weight: bold; color: red }
//=======================added by alliciga end=================
